/node_modules/
/public/build/
/data/cache
/data/fetch
/data/inst
/data/api
/data/*.compare.json
/scripts/*.secret*
/public/CHANGELOG.md
/public/index.html
/public/service-worker.js
/public/data/all-products-history.json
/public/data/movie-names.json
/public/pwa
dir-logs
dir-bin
dir-services
.DS_Store
.idea/
