$color-blue-0: #bfc9d7;
$color-blue-25: #8b9fbd;
$color-blue-50: #4c75b4;
$color-blue-100: #1C3660;
$color-blue-200: #0d1e39;

$color-brown-50: #e2b988;
$color-brown-100: #AF8655;
$color-brown-200: #7d5b33;

$color-white: #fff;
$color-black: #000;

$color-neutral-25: #f5f5f5;
$color-neutral-50: #e7e6e6;
$color-neutral: #ccc;

$color-highlight-light: #b5ec37;
$color-highlight: #8fc317;
$color-highlight-darker: #3e5707;
$color-comingsoon: #7B9F00;
$color-unavailable: #D20A11;
$color-annoucement: #ffac0e;
